* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
html,
body {
  height: 100%;
}
body {
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  min-width: 300px;
  line-height: 20px;
  background: #fff;
  color: #303030;
}
a {
  text-decoration: none;
  color: #303030;
}
ul {
  list-style: none;
}
